{
  "presets": [
    ["es2015", { "modules": false }],
    "env",
    "stage-0",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-runtime",
    "react-hot-loader/babel"]
}

