.patient-info-wrapper {
  & hr {
    width: 831px;
    height: 2px;
    object-fit: contain;
    /*color: red;*/
  }

  & .row {
    margin-top: 30px;
  }

  & div:first-child form input,
  & div:first-child form input:active {
    background: transparent;
    outline: 0;
    border: 0;
    border-bottom: solid 1px #a9b7c2;
  }
}
