@import "imports/_helpers.css";
@import "imports/_layout.css";
@import "imports/_form-elements.css";
@import "imports/_typography.css";

.patient-info-wrapper {
  & select {
    &.select-dropdown {
      width: 100%;
      background: transparent;
      font-family: Open Sans;
      border: 0px;
      border-bottom: solid 1px var(--slate);
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      padding: 4px 0px;
    }
  }
  & .dropdown-affiliate {
    padding-top: 28px !important;
  }
}
