@import "imports/_helpers.css";

.change-password-wrapper {
    & .change-password-spacer {
        margin-top: 120px;
    }

    & .alert-row {
        margin-top: 40px;
        text-align: center;
        width: 100%;
    }

    & .alert-row > h5 {
        color: var(--form-error-color);
    }
}