::-webkit-input-placeholder {
  font-style: italic;
  font-size: 1.1em !important;
}

.validation-error {
  color: var(--form-error-color);
}

.input-error {
  color: var(--form-error-color);
  border-bottom: solid 1px var(--form-error-color) !important;
}

form {
  & .input-row {
    padding: 0 2rem;
    text-align: left;
  }
  & input {
    width: 100%;
    background: transparent;
    font-family: Open Sans;
    border: 0px;
    border-bottom: solid 1px var(--slate);
  }
  & input:focus {
    color: var(--light-teal);
    border-bottom: solid 1px var(--light-teal);
  }

  & select {
    &.select-dropdown {
      width: 100%;
      box-shadow: none;
      margin: -8px 0;
      background: transparent;
      font-family: Open Sans;
      border: 0px;
      border-bottom: solid 1px var(--slate);
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      /*padding: px 0px;*/
      /*padding: 4px 0px;*/
    }
    &.select-dropdown:after {
      outline: none;
    }
    &.dropdown-affiliate {
      padding: 4px 0 !important;
      margin: 0;
    }
    &.form-control {
      background-image: image-set(url('~/images/dropdown_triangles/enabled-dark/triangle_drk.svg'));
      background-position: 100% 50%;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
  & .input-affiliate {
    margin: 2px 0;
  }
  & .checkbox-label {
    font-family: Open Sans;
    font-size: 14px;
    color: var(--light-grey);
  }
  & .checkbox {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    & + label:before {
      border: solid 1px var(--light-grey);
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
    }

    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 10px;
      background: var(--light-teal);
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 var(--light-teal), 4px 0 0 var(--light-teal), 4px -2px 0 var(--light-teal),
        4px -4px 0 var(--light-teal), 4px -6px 0 var(--light-teal), 4px -8px 0 var(--light-teal),
        4px -10px 0 var(--light-teal);
      transform: rotate(45deg);
    }
  }

  & .row {
    margin-top:42px;
  }
}

button {
  height: 36px !important;
  font-size: 12px !important;
  font-weight: bold !important;
  text-transform: uppercase;
}
