:root {
  --color-black: rgb(0, 0, 0);
  --color-blue: #32c7ff;
  --white: #ffffff;
  --light-teal: #76c7e1;
  --pale-grey: #ebeef5;
  --pale-grey-two: #dfe4e8;
  --dark-sky-blue: #25a2e1;
  --cloudy-blue: #cad2da;
  --slate: #3e4759;
  --almost-black: #0b0c0d;
  --toupe: #c7c189;
  --cool-blue: #419dbc;
  --khaki: #9f9a6b;
  --dull-orange: #e37342;
  --blood-orange: #ff5000;
  --light-grey: #9d9d9d;
  --link-color: #2c87b9;
}

:root {
  --font-weight: 300;
  --line-height: 1.5;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}
