:root {
  --color-black: rgb(0, 0, 0);
  --color-blue: #32c7ff;
  --white: #ffffff;
  --light-teal: #76c7e1;
  --pale-grey: #ebeef5;
  --pale-grey-two: #dfe4e8;
  --dark-sky-blue: #25a2e1;
  --cloudy-blue: #cad2da;
  --slate: #3e4759;
  --almost-black: #0b0c0d;
  --toupe: #c7c189;
  --cool-blue: #419dbc;
  --khaki: #9f9a6b;
  --dull-orange: #e37342;
  --blood-orange: #ff5000;
  --light-grey: #9d9d9d;
  --link-color: #2c87b9;
  --primary-color: #ff7175;
  --header-logout: #838a8b;
  --icon-color: #a6afb0;
  --footer-line: #cad2da;
  --label-black: #5a5b5c;
  --future-green: #5ec23b;
}

:root {
  --font-weight: 300;
  --line-height: 1.5;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

button {
  &.primary {
    background: var(--primary-color);
    color: var(--white);
    border: 1px solid #df907a;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
    font-family: 'Open Sans', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
  }
}
