body {
  background-color:var(--pale-grey-two);
}

footer {
  background-color:var(--white);
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height:42px;
}

header {
  position:fixed;
  top:0;
  width:100%;
}


/* Main container for each page */
.body-wrapper {
  padding: 59px 80px;
  margin-top: 162px;
}
