* {
  box-sizing: border-box;
}
body {
  background-color: var(--pale-grey-two);
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
}
footer {
  background-color: var(--white);
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 42px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
*:focus {
  outline: none;
}

.sm-spacer {
  margin-top: 30px;
}

.md-spacer {
  margin-top: 60px;
}

.lg-spacer {
  margin-top: 90px;
}

.flex-column {
  display: flex;
  text-align: center;
  flex-direction: column;
}

/* Main container for each page */
.body-wrapper {
  height: 90vh;
  margin: 150px 80px 60px;
  padding-top: 18px;
  box-shadow: 0 2px 92px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
}
.signed-out .body-wrapper {
  margin-top: 134px;
  margin-bottom: 140px;
  height: 667px;
}
.signed-out nav,
.signed-out header > div:last-child {
  display: none;
}
.smaccess-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, .5);
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  & img {
    height: 100px;
    width: 100px;
  }
}
/* Center the inside of body wrapper using margin: 0 auto; */
nav,
.router-wrapper {
  margin: 0 auto;
  width: 830px;
}