:root {
  --font-text: "FF DIN", sans-serif;
  --font-weight: 300;
  --line-height: 1.5;
}

body {
  font-family: Railway;
}

.text-small-o {
  font-size: 12px;
  font-family: Open Sans;
}

.text-medium-o {
  font-size: 14px;
  font-family: Open Sans;
}

.text-large-o {
  font-size: 20px;
  font-family: Open Sans;
}

.text-small-r {
  font-size: 12px;
  font-family: Railway;
}

.text-medium-r {
  font-size: 14px;
  font-family: Railway;
}

.text-large-r {
  font-size: 20px;
  font-family: Railway;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

.page-instructions {
  font-size:16px;
  font-style: italic;
}
