:root {
  --font-text: "FF DIN", sans-serif;
  --font-weight: 300;
  --line-height: 1.5;
}

body {
  font-family: Railway;
}

.text-small-o {
  font-size: 12px;
  font-family: Open Sans;
}

.text-medium-o {
  font-size: 14px;
  font-family: Open Sans;
}

.text-large-o {
  font-size: 20px;
  font-family: Open Sans;
}

.text-small-r {
  font-size: 12px;
  font-family: Railway;
}

.text-medium-r {
  font-size: 14px;
  font-family: Railway;
}

.text-large-r {
  font-size: 20px;
  font-family: Railway;
}

h1 {
  font-size: 48px;
}

h2 {
  font-family: "Arial Bold", sans-serif;
  /*font-size: 24px;*/
  font-size: 48px;
  font-weight: bold;
}

h5 {
  font-family: Open Sans;
}

label {
  font-family: Open Sans;
  font-size: 10px;
  color: var(--label-black);
  margin-bottom: 10px;
}

input::placeholder {
  font-family: Open Sans;
  font-size: 12px;
  color: var(--light-grey);
}

input[type="text"] {
  font-family: Open Sans;
}

.page-instructions {
  font: italic 16px 'Georgia', sans-serif;
  color: var(--light-grey);
}

a:any-link {
  font-family: Open Sans;
  color: var(--light-teal);
  text-decoration: none;
  &.btn-link {
    color: var(--white);
    text-transform: uppercase;
  }
  &.btn-link:hover {
    width: 276px;
    height: 40px;
    background: var(--primary-color);
    color: var(--white);
    border: 1px solid #df907a;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
    font-family: 'Open Sans', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px !important;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
  }
}

button,
.primary-btn {
  width: 276px;
  height: 40px;
  background: var(--primary-color);
  color: var(--white);
  border: 1px solid #df907a;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  font-family: 'Open Sans', 'OpenSans', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px !important;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}
