@import "imports/_helpers.css";

.confirm-patient-info-block {
}

.nav-tabs {
  & > li > a {
    color: var(--almost-black);
    font-weight: 700;
    letter-spacing: 1px;
  }

  & > li.active > a {
    color: var(--white);
    background-color: var(--dark-sky-blue);
    /*border: var(--dark-sky-blue);*/
  }
}

/*.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {*/

/*hr {
  color: var(--cloudy-blue);
  background-color: var(--cloudy-blue);
  text-align: center;
  height: 2px;
}*/
