@import "imports/_helpers.css";

.nav-tabs {
  & > li > a {
    color: var(--almost-black);
    font-weight: 700;
    letter-spacing: 1px;
  }

  & > li.active > a {
    color: var(--white);
    background-color: var(--primary-color);
    border: var(--primary-color);
  }
}

.button-wrapper {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-line {
  margin-top: 15px;
}

.next-btn,
.back-btn {
  padding: 14px 100px;
  background: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--primary-color);
}

.next-btn {
  margin-left: 150px;
}

.back-btn {
  margin-right: 150px;
}
