@import "imports/_helpers.css";

.nav-tabs {
  & > li > a {
    color: var(--almost-black);
    font-weight: 700;
    letter-spacing: 1px;
  }

  & > li.active > a {
    color: var(--white);
    background-color: var(--primary-color);
    border: var(--primary-color);
  }
}

.footer-line {
  text-align: center;
  width: 100%;
  height: 3px;
  border: solid 4px var(--footer-line);
}

/*hr {
  color: var(--cloudy-blue);
  background-color: var(--cloudy-blue);
  text-align: center;
  height: 2px;
}*/
