@import "imports/_helpers.css";
@import "imports/_layout.css";
@import "imports/_form-elements.css";

.search-patient-block {
    & .error-title {
        margin-top: 5px;
        color: var(--form-error-color);
        font-size: 12px;
    }
}
